@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply IBM Plex Serif font to all heading elements */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-ibm-plex-serif;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

/* Themeable components */
@layer components {
  .themed-link {
    @apply text-light-red hover:text-light-altRed dark:text-dark-red dark:hover:text-dark-altRed;
  }

  .themed-border {
    @apply border-light-red dark:border-dark-red;
  }

  .themed-bg {
    @apply bg-light-red text-white hover:bg-light-altRed dark:bg-dark-red dark:hover:bg-dark-altRed;
  }

  .themed-focus {
    @apply focus:border-light-red focus:ring-light-red dark:focus:border-dark-red dark:focus:ring-dark-red;
  }
}
